@model ProductsAPI.Models.Product

@{
    ViewBag.Title = "AddProduct";
}

<h2>AddProduct</h2>




@using (Html.BeginForm("AddProduct", "Home", FormMethod.Post, new { @id = "frmSaveProduct", enctype = "multipart/form-data" }))
{
    <div class="row clearfix">
        @Html.Partial("_msg");
    </div>
    @Html.AntiForgeryToken() // this is for prevent CSRF attack
    @Html.ValidationSummary(true)
    <div class="modal-body">

        <div class="form-horizontal">

            <input type="hidden" id="hdnID" name="id" />



            <div class="form-group">
                <label class="control-label col-md-3">Product Name</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", maxlength = 50, autofocus = true })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>

            </div>


            <div class="form-group">
                <label class="control-label col-md-3">Product Image</label>
                <div class="col-md-9">

                    <input type="file" name="fileImage" class="form-control inputfrom" id="fileImage" />


                </div>

            </div>

            <div class="form-group">
                <label class="control-label col-md-3">Product Detail</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.detaiel, new { @class = "form-control", maxlength = 50, autofocus = true })
                </div>

            </div>

            <div class="form-group">
                <label class="control-label col-md-3">Product UnitPrice</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.UnitPrice, new { @class = "form-control", maxlength = 50, autofocus = true })
                    @Html.ValidationMessageFor(model => model.UnitPrice, "", new { @class = "text-danger" })
                </div>

            </div>


        </div>

    </div>
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-9">
            <button type="submit" id="Change-text" class="btn btn-primary ">Add Product</button>
            <input type="button" class="btn btn-primary " value="View Products By Api" onclick="location.href='@Url.Action("GetProducts", "Home")'" />
        </div>
            @*<input type="submit" value="اضافة" class="btn btn-primary" />*@
        </div>
        
        }



